.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 580px;
}

.orderBoard {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  max-width: 280px;
}

.orderList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 245px;
  list-style: none;
}

.orderItem {
  text-align: left;
}

.orderItemDone {
  color: #00CCCC;
}

.completed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.totalOrders {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}